// Variables (customize according to your needs)
$lid-color: url('/assets/images/wood-texture-lighter.jpg') // assuming the lid should be lighter
$body-color: url('/assets/images/wood-texture.jpg')
$contents-color: #FFFFFF // White for the cards

.container
    display: flex // enables flexbox
    justify-content: center // center children horizontally
    align-items: center // center children vertically
    height: 100vh // takes full viewport height
    width: 100vw // takes full viewport width
    perspective: 800px // necessary for 3D effect
    position: relative // positions relative to its normal position

.chest
    position: relative // Define width, height, etc.
    height: 400px
    width: 400px
    transform-style: preserve-3d // Essential for 3D rotation effect
    position: relative
    background: $body-color
    background-size: cover // this will ensure the image covers the entire div
    transform-style: preserve-3d

.lid
    background: $lid-color
    background-size: cover
    height: 200px
    width: 400px
    position: absolute
    transform-origin: top center
    cursor: pointer

.contents
    display: flex
    flex-direction: column
    position: relative
    width: 80% // Adjust to control the size of the cards container
    max-height: 300px // Adjust based on your preference
    overflow-y: auto // Allows scrolling through cards
    align-self: center // Center the contents
    border-radius: 5px // Optional: for rounded corners
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) // Optional: for some shadow
    transform: translateY(-50%) // Adjusts the starting position
    background: transparent // Optional: Set a background color for the "container"
    padding: 10px // space inside the border, between the border and the contents

.card
    background: #FFFFFF // Card color, white for the recipe cards
    padding: 20px // Space between card content and borders
    margin-bottom: 15px // Space between cards
    border-radius: 5px // Rounded corners for each card
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) // Small shadow for each card
    transform: rotateX(10deg) // Slight rotation to create the rolodex effect
    transition: transform 0.3s
    &:not(:last-child)
        margin-bottom: 10px // If it's not the last card, give some space at the bottom

    &:hover
        transform: rotateX(0deg) // Card straightens out on hover

.contents::-webkit-scrollbar
        width: 10px

.contents::-webkit-scrollbar-track
    background: #f1f1f1

.contents::-webkit-scrollbar-thumb
    background: #888

.contents::-webkit-scrollbar-thumb:hover
    background: #555

.body
    background-color: transparent

.lid
    &.swing-up
        animation: swingUp 2s forwards // "forwards" maintains the final state post-animation

.contents
    &.reveal
        animation: revealContents 2s forwards
        opacity: 1
        transform: translateY(0)
