<div class="theme-responsive">
    <div class="recipe-container">
        <div class="index-card">
            <div class="index-card-header">
                <h1>Dill Gravy</h1>
                <h3 class="index-card-tags">Pan sauce</h3>
            </div>
            <ul class="index-card-list">
                <li>Flour</li>
                <li>Sour Cream</li>
                <li>Dill</li>
                <li>Stock</li>
            </ul>
            <div class="index-card-footer">
                <h2 class="index-card-footer-title">Recipe Steps</h2>
                <ul  (click)="toggleCompletion($event)">
                    <li><span>Mix together flour, dill, and sour cream.</span></li>
                    <li><span>Pour stock into a pan that's just been used to shallow fry something.</span></li>
                    <li><span>Scrape the pan to get the fond up.</span></li>
                    <li><span>Pour in the flour, dill, and sour cream mixture and stir until thick.</span> </li>
                    <li><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>