.index-card
    background: linear-gradient(rgba(253, 253, 150, 0.5), rgba(253, 253, 150, 0.5)), url(/assets/images/textured_paper.png) // default color for light mode
    @media (prefers-color-scheme: dark)
        background: linear-gradient(rgba(43, 43, 43, 0.5), rgba(43, 43, 43, 0.5)), url(/assets/images/papyrus-dark.webp)
        border: 1px solid #e0e0e0
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1)
        border-radius: 8px // Rounded corners
        padding: 16px
        width: 600px // width of the card, adjust as needed
        max-height: 800px // max-height of the card, adjust as needed
        overflow-y: auto // allow scrolling if content exceeds max-height
        margin: 16px // Adjust the margin as needed
        font-family: 'Patrick Hand', sans-serif // Font family for the card

    &-header
        h1
            font-size: 26px
            margin: 0
            border-bottom: 1px solid #ccc
            text-align: center

        h3
            font-size: 16px
            margin: 8px 0
            text-align: center
            border-bottom: 1px solid #ccc

    &-list
        list-style-type: none
        padding: 0
        margin: 0 auto

        li
            font-size: 20px
            margin-bottom: 8px
            border-bottom: 1px solid #ccc

    &-footer
        h2
            font-size: 20px
            margin: 16px 0
            text-align: center
            text-decoration: underline

        li
            transition: text-decoration 10s ease
            text-decoration-color: #0c20cf
            cursor: pointer

            &.completed
                text-decoration: line-through
                text-decoration-thickness: 5px

.recipe-container
    margin: 0
    height: 100vh
    font-size: 20px
    display: flex
    justify-content: center
    align-items: center

.index-card-tags
    opacity: 65%
